* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

@font-face {
    src: url(./lucidaconsole.ttf) format('truetype');
    font-family: 'lucida';
    font-weight: 'normal';   
}

h1, h2, nav a {
    font-family: 'lucida';
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
    padding-top: 10px;
}

.background_header {
    position:relative;
    width: 100%;
    background: linear-gradient(#025E73, #000000);
}

.contenant_header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.contenant_header_gauche {
    position: relative;
    display:flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.titre_header {
    padding: 15px;
    word-wrap:unset;
}

.nom_prenom {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}

.photo_id {
    margin: 15px;
    background-image: url(img/idfb_crop.jpg);
    background-position: center;
    background-size: cover;
    width: 248px;
    height: 248px;
    top: 50px;
    left: 50px;
    border-radius: 50%;
}

h1, h2, p {
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 1.5em;
}

nav {
    padding: 0px 35px 0px 35px;
}

@media screen and (max-width: 768px) {
    .contenant_header_gauche {
        position: relative;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

nav {
    padding: 0px 35px 0px 0px;
}

}


@media screen and (min-width: 769px) {
    .titre_header {
    padding-top: 105px;
    }
nav {
    padding: 0px 35px 0px 0px;
}

}



@media screen and (max-width: 1024px) {
    nav {
    display: flex;
    flex-direction: column;
    }
}

